@import url('src/css/colors.css');
@import url('src/css/custom_checkbox.css');
@import url('src/css/custom_button.css');
@import url('src/css/custom_range.css');
@import url('src/css/custom_dropdown-menu.css');

:root {
  --index: 1vw + 1vh;
  --transition: 0.25s ease-in-out;
}

::selection {
  background-color: var(--active-dark);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--bg);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 68px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

body {
  background-color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*? HEADER ?*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header>.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.menu>a {
  margin-right: 30px;
  cursor: pointer;
}

.burger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 9999;
  margin-right: 30px;
  will-change: transform;
}

.burger-menu.open {
  transform: translate(225px, 0);
}

.line {
  width: 30px;
  height: 3px;
  background-color: var(--bg);
  border-radius: 2.5px;
  transition: var(--transition);
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--bg);
  border-radius: 2.5px;
  transition: var(--transition);
}

.line::before {
  transform: translateY(-11px);
}

.line::after {
  transform: translateY(11px);
}

.burger-menu.open .line {
  background: transparent;
}

.burger-menu.open .line::before {
  transform: rotate(45deg);
}

.burger-menu.open .line::after {
  transform: rotate(-45deg);
}

#img_user {
  cursor: pointer;
  scale: 0.8;
}

#img_logo {
  cursor: pointer;
}

/*? HERO ?*/

hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
  padding: 0 5%;
  background: url('src/img/dron.png') no-repeat;
  background-position: 120% center;
  background-size: 70%;
  overflow-y: auto;
}

.info-text {
  max-width: 50%;
}

/*? MENU ?*/

.menu-wrapper>.left-menu {
  transform: translate(-350px, 0);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  transition: var(--transition);
  z-index: 9998;
  will-change: transform;
}

.menu-wrapper.open>.left-menu {
  transform: translate(0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.menu-wrapper.open>.bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  transition: var(--transition);
  z-index: 9997;
}

li {
  list-style: none;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  padding: 0 30px;
  margin: 60px 0;
}

li>a {
  color: var(--white);
}

/*? MEDIA ?*/

@media (width < 740px) {
  .hero-text {
    font-size: 40px;
  }
}

@media (width < 500px) {
  button {
    width: 100%;
  }

  hero {
    background-position-x: 150px;
    background-size: 100%;
  }
}

@media (width < 450px) {
  .menu-wrapper.open>.left-menu {
    width: 100%;
    height: 100%;
  }

  .burger-menu.open {
    transform: translate(150px, -90px);
  }

  .menu {
    margin-top: 25px;
  }

  header {
    flex-direction: column-reverse;
  }

  .burger-menu.open>.line::after,
  .burger-menu.open>.line::before {
    background-color: var(--white);
  }
}

@media (width < 420px) {
  .hero-text {
    font-size: 34px;
  }

  .info-text {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }

  .burger-menu.open {
    transform: translate(130px, -90px);
  }
}