:root {
  --bg: black;
  --primary-dark: #f54b64;
  --primary-light: #fd8760;
  --secondary: #242a38;
  --dark-grey: #4e596f;
  --white: #ffffff;
  --active-light: #04c9fe;
  --active-dark: #037ded;
}