dropdown-menu {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  min-height: 85px;
  /* outline: 1px solid #3333333d; */
  box-shadow: 0 8px 15px #3333333d;
  border-radius: 5px;
  font-weight: 500;
  transition: var(--transition);
  will-change: auto;
}

dropdown-menu[focus] {
  display: flex;
  flex-direction: column;
  cursor: default;
  /* outline: 1px solid var(--active-dark); */
  box-shadow: 0 8px 15px #037ced42;
  max-height: 415px;
  overflow-y: auto;
  z-index: 9999;
}

dropdown-menu[focus].invert {
  flex-direction: column-reverse;
  top: -320px;
}

dropdown-menu[focus].invert>span {
  border: none;
  border-top: 1px solid var(--dark-grey);
}

dropdown-menu>span {
  position: relative;
  display: flex;
  align-items: center;
  pointer-events: none;
  min-height: inherit;
  font-size: 25px;
  padding: 5px 25px;
}

dropdown-menu[focus]::-webkit-scrollbar {
  width: 4px;
}

dropdown-menu[focus]::-webkit-scrollbar-thumb {
  background-color: var(--active-dark);
  border-radius: 1000px;
}

dropdown-menu[focus]::-webkit-scrollbar-track {
  background-color: transparent;
}

dropdown-menu[focus]>span {
  pointer-events: none;
  display: flex;
  align-items: center;
  min-height: inherit;
  border-bottom: 1px solid var(--dark-grey);
}

dropdown-menu>span::after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  left: calc(100% - 45px);
  transform: translate3d(0, -50%, 0);
  border-radius: 50%;
  background-color: var(--secondary);
}

dropdown-menu:not([value=''])>span::after {
  background-color: var(--active-green-dark);
}

item {
  padding: 15px 25px;
  margin: 1px 0;
  font-size: 24px;
}

item:nth-child(2) {
  margin-top: 5px;
}

item:last-child {
  margin-bottom: 5px;
}

item.active {
  background-color: var(--active-dark);
  color: var(--white);
}

dropdown-menu:has(item)>span {
  color: var(--active-dark);
}

dropdown-menu[focus]>item:hover:not(.active) {
  cursor: pointer;
  background-color: #037ced38;
  color: var(--bg);
}